#-------------------#
<homogenization>
#-------------------#

[SX]
type	none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"

#-------------------#
<phase>
#-------------------#
[cpTi-alpha]
plasticity	phenopowerlaw
elasticity	hooke

(output)                accuulatedshear_slip

lattice_structure	hex
covera_ratio	1.587

# M. Levy, Handbook of Elastic Properties of Solids, Liquids, and Gases (2001)
c11	153.97e9
c12	 85.98e9
c13	 67.16e9
c33	183.0e9
c44	 46.27e9
# C. Zambaldi, "Orientation informed nanoindentation of a-titanium: Indentation pileup in hexagonal metals deforming by prismatic slip", J. Mater. Res., Vol. 27, No. 1, Jan 14, 2012
gdot0_slip	0.001
n_slip	20
nslip	            3        3        0 0 12       0
tau0_slip	  1_coords   2_coords 0 0 3_coords 0
tausat_slip	  300e6      200e6    0 0 300e6 0
a_slip	2
ntwin	0 0 0 0
gdot0_twin	0.001 0 0 0
n_twin	20
tau0_twin	31e6 0 0 0 0
s_pr	0
twin_b	0
twin_c	0
twin_d	0
twin_e	0
h0_slipslip	200e6
h0_twinslip	15e6
h0_twintwin	15e6
atol_resistance	1
#atol_shear	1e-6
#atol_twinfrac	1e-7

interaction_slipslip	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_sliptwin	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twinslip	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twintwin	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
#nonschmid_coefficients	0

#-------------------#
<microstructure>
#-------------------#
[Grain01]
crystallite 1
(constituent)  phase 1   texture 1   fraction 1.0


#-------------------#
<texture>
#-------------------#
[Grain01]
(gauss)  phi1 1_eulerangles    Phi 2_eulerangles    phi2 3_eulerangles   scatter 0.0   fraction 1.0
